arduino/ClockIOT/ClockIOT.json
[{"id":"4536b71.c98bb48","type":"mqtt out","z":"60cbc9c5.f6a128","name":"","topic":"clockiot/add_to_timezone","qos":"","retain":"","broker":"b307dd5f.20156","x":540,"y":160,"wires":[]},{"id":"a2eeece7.26b39","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"1800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[["4536b71.c98bb48"]]},{"id":"b90532d6.a866b","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"-1800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["4536b71.c98bb48"]]},{"id":"c5c63a1.aa7d9c8","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["4456613b.ad01"]]},{"id":"4456613b.ad01","type":"mqtt out","z":"60cbc9c5.f6a128","name":"","topic":"clockiot/summer_time","qos":"","retain":"","broker":"b307dd5f.20156","x":520,"y":260,"wires":[]},{"id":"d572b6db.096638","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["4456613b.ad01"]]},{"id":"8f491487.fcc918","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"3600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":60,"wires":[["4536b71.c98bb48"]]},{"id":"a05be95e.e78168","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"-3600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["4536b71.c98bb48"]]},{"id":"daf3ac16.eeea7","type":"ui_button","z":"60cbc9c5.f6a128","name":"","group":"33b6e9e7.a0d086","order":0,"width":"1","height":"1","passthru":false,"label":"++","color":"","bgcolor":"","icon":"","payload":"3600","payloadType":"num","topic":"","x":90,"y":140,"wires":[["4536b71.c98bb48"]]},{"id":"ca94563b.384a48","type":"ui_button","z":"60cbc9c5.f6a128","name":"","group":"33b6e9e7.a0d086","order":0,"width":"1","height":"1","passthru":false,"label":"+30","color":"","bgcolor":"","icon":"","payload":"1800","payloadType":"num","topic":"","x":90,"y":100,"wires":[["4536b71.c98bb48"]]},{"id":"9c91d35b.08b6f","type":"ui_button","z":"60cbc9c5.f6a128","name":"","group":"33b6e9e7.a0d086","order":0,"width":"1","height":"1","passthru":false,"label":"-30","color":"","bgcolor":"","icon":"","payload":"-1800","payloadType":"num","topic":"","x":90,"y":60,"wires":[["4536b71.c98bb48"]]},{"id":"b0fc306.5f31ed","type":"ui_button","z":"60cbc9c5.f6a128","name":"","group":"33b6e9e7.a0d086","order":0,"width":"1","height":"1","passthru":false,"label":"-60","color":"","bgcolor":"","icon":"","payload":"-3600","payloadType":"num","topic":"","x":90,"y":20,"wires":[["4536b71.c98bb48"]]},{"id":"84c02e72.8a7d7","type":"ui_switch","z":"60cbc9c5.f6a128","name":"","label":"Summer Time (DST)","group":"33b6e9e7.a0d086","order":0,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":360,"wires":[["4456613b.ad01"]]},{"id":"20ba637a.624b2c","type":"inject","z":"60cbc9c5.f6a128","name":"","topic":"","payload":"next_display","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":460,"wires":[["4a93c743.9cb658"]]},{"id":"4a93c743.9cb658","type":"mqtt out","z":"60cbc9c5.f6a128","name":"","topic":"clockiot/next_display","qos":"","retain":"","broker":"b307dd5f.20156","x":520,"y":460,"wires":[]},{"id":"b307dd5f.20156","type":"mqtt-broker","z":"","name":"my_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33b6e9e7.a0d086","type":"ui_group","z":"","name":"Timezone","tab":"e662db20.f9c7f8","disp":true,"width":"6","collapse":false},{"id":"e662db20.f9c7f8","type":"ui_tab","z":"","name":"ClockIOT","icon":"dashboard"}]
